<p id="notice"><%= notice %></p>

<section class="content-header">
  <h1>
    Rifas
  </h1>
</section>
<section class="content">
  <%= link_to 'Nova rifa', new_raffle_path, class: 'btn btn-lg btn-success pull-right m-bottom' %>
  <div class="row">
    <div class="col-xs-12">
      <div class="box inner-content">
          <table id="example2" class="table table-bordered table-hover">
            <thead>
              <tr>
                <th>Imagem</th>
                <th>Categoria</th>
                <th>Data</th>
                <th>Título</th>
                <th>Descrição</th>
                <th>Valor em pontos</th>
                <th>Quandtidade máxima de bilhetes</th>
                <th>Ações</th>
              </tr>
            </thead>

            <tbody>
              <% @raffles.each do |raffle| %>
                <tr>
                  <td><%= image_tag raffle.avatar.url(:thumb) %></td>
                  <td><%= raffle.category %></td>
                  <td><%= raffle.deadline %></td>
                  <td><%= raffle.title %></td>
                  <td><%= raffle.description %></td>
                  <td><%= raffle.points %></td>
                  <td><%= raffle.amount %></td>
                  <td>
                    <%= link_to '', raffle, class: 'btn btn-info fa fa-location-arrow' %>
                    <%= link_to '', edit_raffle_path(raffle), class: 'btn btn-primary fa fa-edit' %>
                    <%= link_to '', raffle, method: :delete, data: { confirm: 'Deseja mesmo deletar essa rifa?' }, class: 'btn btn-danger fa  fa-trash-o' %>
                    <%= link_to '', raffle_select_path(raffle.id), class: 'btn btn-primary fa fa-random' %>
                  </td>
                </tr>
              <% end %>
            </tbody>
            <tfoot>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
<br>
