<main class="content">
    <div class="dir">
        <div class="raf_item">
            <%= image_tag @raffle.avatar.url %>
            <div class="raf_item_desc">
                <div class="caption rifa">
                    <h3><%= @raffle.title %> <small><%= @raffle.category.name %></small></h3>
                    <p><%= @raffle.description %></p>
                    <h2 class="bilhetes">
                        <img src="../images/bol.png"/>
                    </h2>
                    <h2 class="bilhetes">Disponíveis</h2>
                    <h2 class="bilhetes">
                        <img src="../images/bol_r.png"/>
                    </h2>
                    <h2 class="bilhetes">Vendidos</h2>
                    <div class="progress">
                        <div class="progress-bar progress-bar-danger" style='width: <%= sold_percentage(@raffle) %>%'>
                            <span class="sr-only"><%= @raffle.amount_sold %> Compradas</span>
                            <%= @raffle.amount_sold %>
                        </div>
                        <div class="progress-bar progress-bar-success" style='width: <%= available_percentage(@raffle) %>%'>
                            <span class="sr-only"><%= @raffle.tickets_available %> Restantes</span>
                            <%= @raffle.tickets_available %>
                        </div>
                    </div>
                    <h4>Data do Sorteio: <%= @raffle.deadline %></h4>

                    <%= form_tag ticket_transaction_purchase_path, method: :post do %>
                      <div class="form-group">
                          <%= number_field_tag :amount, 1,
                                  class: 'form-control input_qtd',
                                  placeholder: "Qtd"
                          %>
                      </div>
                      <table class="table">
                          <tbody>
                              <tr>
                                  <td><p>Valor unitário em pontos</p></td>
                                  <td>
                                      <p id="unidade" data-unity='<%= @raffle.points %>'>
                                        <%= points_encoding(@raffle.points) %>
                                      </p>
                                  </td>
                              </tr>
                              <tr>
                                  <td><p>Valor Total em pontos</p></td>
                                  <td>
                                    <p id="total">
                                    </p>
                                  </td>
                              </tr>
                          </tbody>
                      </table>
                      <div class="alert alert-info" role="alert">
                        <p>Para comprar as rifas é necessário que você tenha comprado um dos nossos pacotes de pontos.
                        Caso ainda não possua pontos clique no botão abaixo para conhecer nossos pacotes.</p>
                      </div>

                      <%= hidden_field_tag :raffle_id, @raffle.id %>
                      <p>
                          <%= submit_tag 'Investir pontos', class: 'btn btn-primary raf_item_desc btn-inv'  %>
                      </p>
                    <% end %>
                    <p>
                        <%= link_to 'Comprar pontos', pages_packages_path, class: 'btn btn-primary raf_item_desc pontos'  %>
                    </p>
                </div>
            </div>
        </div>
    </div>
</main>

<script type="text/javascript">
  $("#total").text($("#unidade").text());

  $("#amount").on('change', function () {
      var amount = $("#amount").val();
      var unidade = $("#unidade").attr('data-unity');
      $("#total").text(accounting.formatMoney(unidade * amount, "", 0, ".", ","));
  });
</script>
