<div class="content">
    <div class="dir">
        <div class="perfil">
            <div class="perfil_desc">
                <div class="caption rifa">
                    <h3><%= t('.sign_up') %></h3>
                    <div class="row">
                        <div class="form-group">
                            <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                              <%= devise_error_messages! %>

                              <div class="form-group col-md-12">
                                <div class="col-md-6">
                                  <div class="field">
                                    <%= label_tag 'Nome' %>
                                    <%= text_field_tag 'profile[name]', nil, class: 'form-control', autofocus: true, required: true %>
                                  </div>
                                </div>

                                <div class="col-md-6">
                                  <div class="field">
                                    <%= label_tag 'Sobrenome' %>
                                    <%= text_field_tag 'profile[last_name]', nil, class: 'form-control', autofocus: true, required: true %>
                                  </div>
                                </div>
                              </div>

                              <div class="form-group col-md-12">
                                <div class="col-md-6">
                                  <div class="field">
                                    <%= f.label :email %>
                                    <%= f.email_field :email, class: 'form-control', autofocus: true, required: true %>
                                  </div>
                                </div>

                                <div class="col-md-6">
                                  <div class="field">
                                    <%= f.label :cpf %>
                                    <%= f.text_field :cpf, class: 'form-control', required: true %>
                                  </div>
                                </div>
                              </div>

                              <div class="form-group col-md-12">
                                <div class="col-md-6">
                                  <div class="field">
                                    <%= f.label :password %>
                                    <% if @minimum_password_length %>
                                    <em>(Mínimo de <%= @minimum_password_length %> caracteres)</em>
                                    <% end %>
                                    <%= f.password_field :password, class: 'form-control', autocomplete: "off", required: true %>
                                  </div>
                                </div>

                                <div class="col-md-6">
                                  <div class="field">
                                    <%= f.label :password_confirmation %>
                                    <%= f.password_field :password_confirmation, class: 'form-control', autocomplete: "off", required: true %>
                                  </div>
                                </div>
                              </div>

                              <div class="form-group col-md-12">
                                <div class="col-md-6">
                                  <div class="radio">
                                    <strong>Sexo</strong><br />
                                    <label>
                                      <%= radio_button_tag 'profile[sex]', 'F', checked: true %>
                                      <%= label_tag 'profile[sex]', "Feminino" %> <br>
                                      <%= radio_button_tag 'profile[sex]', 'M' %>
                                      <%= label_tag 'profile[sex]', "Masculino" %>
                                    </label>
                                  </div>
                                </div>

                                <div class="col-md-6">
                                  <div class="field">
                                    <%= label_tag 'profile[birth_date]', "Data de Nascimento" %><br />
                                    <%= date_select 'profile[birth_date]',
                                          order: [:day, :month, :year],
                                          end_year: Date.today.year - 100,
                                          start_year: Date.today.year - 17,
                                          class: 'form-control i-perfil',
                                          required: true %>
                                  </div>
                                </div>
                              </div>

                              <div class="form-group col-md-12">
                                <div class="col-md-6">
                                  <div class="field">
                                    <%= label_tag 'profile[street]', "Rua" %>
                                    <%= text_field_tag 'profile[street]', nil, class: 'form-control', required: true %>
                                  </div>
                                </div>

                                <div class="col-md-3">
                                  <div class="field">
                                    <%= label_tag 'profile[complement]', "Complemento" %>
                                    <%= text_field_tag 'profile[complement]', nil, class: 'form-control', required: true %>
                                  </div>
                                </div>

                                <div class="col-md-3">
                                  <div class="field">
                                    <%= label_tag 'profile[neighborhood]', "Bairro" %>
                                    <%= text_field_tag 'profile[neighborhood]', nil, class: 'form-control', required: true %>
                                  </div>
                                </div>
                              </div>

                              <div class="form-group col-md-12">
                                <div class="col-md-3">
                                  <div class="field">
                                    <%= label_tag 'profile[state]', "Estado" %>
                                    <%= select_tag 'profile[state_id]', states_for_select(''), include_blank: true, class: 'form-control', required: true %>
                                  </div>
                                </div>

                                <div class="col-md-3">
                                  <div class="field">
                                    <%= label_tag 'profile[city_id]', "Cidade" %>
                                    <%= grouped_collection_select(
                                          :profile,
                                          :city_id,
                                          State.all.includes(:cities),
                                          :cities,
                                          :name,
                                          :id,
                                          :name,
                                          {include_blank: true, selected: '',},
                                          {selected: '', class: 'form-control', required: true}
                                        )
                                    %>
                                  </div>
                                </div>

                                <div class="col-md-6">
                                  <div class="field">
                                    <%= label_tag 'profile[zip_code]', "CEP" %>
                                    <%= text_field_tag 'profile[zip_code]', nil, class: 'form-control', required: true %>
                                  </div>
                                </div>
                            </div>

                              <div class="field">
                                <style media="screen">
                                .modal-terms {
                                  width: auto !important;
                                  float: none !important;
                                  padding: 0 !important;
                                }
                                #termos-de-uso .modal-body { overflow: hidden; }
                                #termos-de-uso .title_padrao { display: none;}
                                #termos-de-uso .help p { font-size: 1em; }
                                .actions-buttons input[disabled] { background: #ccc !important; }
                                </style>
                                <p>
                                  <%= check_box_tag 'termos' %>
                                  Li e Aceito os
                                  <%= link_to('#', class: 'modal-terms', 'data-toggle': "modal", 'data-target': '#termos-de-uso') do %>
                                    Termos e Condições Gerais de Uso
                                  <% end %>
                                </p>
                                <div id="termos-de-uso" class="modal fade bs-example-modal-lg" role="dialog" aria-labelledby="myModalLabel">
                                  <div class="modal-dialog modal-lg" role="document">
                                  <div class="modal-content">
                                    <div class="modal-header">
                                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                      <h4 class="modal-title" id="myModalLabel">Termos e Condições Gerais de Uso</h4>
                                    </div>
                                    <div class="modal-body">
                                      <%= render partial: 'pages/terms' %>
                                    </div>
                                    <div class="modal-footer">
                                      <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                                      <button type="button" class="btn btn-primary" data-dismiss="modal" id='aceitar-termos'>Aceitar</button>
                                    </div>
                                  </div>
                                </div>
                                <script type="text/javascript">
                                  function toggle_registration_button() {
                                    if($('#termos').is(':checked'))
                                      $('#cadastrar').removeAttr('disabled');
                                    else
                                      $('#cadastrar').attr('disabled','disabled');
                                  }
                                  $('#termos-de-uso').on('click', '#aceitar-termos', function(e){
                                    e.preventDefault();
                                    $('#termos').attr('checked', true);
                                    toggle_registration_button();
                                    $('#termos-de-uso').modal('hide');
                                  })

                                  $('#termos').on('change', function(){
                                    if($(this).is(':checked'))
                                      $('#cadastrar').removeAttr('disabled');
                                    else
                                      $('#cadastrar').attr('disabled','disabled');
                                  });
                                </script>

                                </div>
                              </div>
                              <div class="actions actions-buttons">
                                <%= f.submit t('.sign_up'), disabled: 'disabled', id: 'cadastrar' %>
                              </div>
                            <% end %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<%= javascript_include_tag 'populate_city_select' %>
