



<section class="content">
  <div class='row'>
      <div class='col-xs-12'>
          <div class='box box-info'>
              <div class='box-header'>
                  <h3 class="box-title">Cadastro de Parceiro</h3>
                  <!-- tools box -->
                  <div class="pull-right box-tools">
                      <button class="btn btn-info btn-sm" data-widget='collapse' data-toggle="tooltip" title="Collapse"><i class="fa fa-minus"></i></button>
                      <button class="btn btn-info btn-sm" data-widget='remove' data-toggle="tooltip" title="Remove"><i class="fa fa-times"></i></button>
                  </div><!-- /. tools -->
              </div>
              <!-- /.box-header -->
              <div class="box-body pad">
                <%= form_for(partner) do |f| %>
                  <% if partner.errors.any? %>
                    <div id="error_explanation">
                      <h2><%= pluralize(partner.errors.count, "error") %> prohibited this partner from being saved:</h2>

                      <ul>
                      <% partner.errors.full_messages.each do |message| %>
                        <li><%= message %></li>
                      <% end %>
                      </ul>
                    </div>
                  <% end %>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <%= f.label :name, "Nome" %>
                        <%= f.text_field :name, class:'form-control' %>
                      </div>
                      <div class="form-group">
                        <%= f.label :logo, "Logo" %>
                        <%= f.text_field :logo, class:'form-control' %>
                      </div>
                      <div class="form-group">
                        <%= f.label :url, "Url" %>
                        <%= f.text_field :url, class:'form-control' %>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <%= f.submit 'Salvar', :class => 'btn btn-primary btn-lg pull-right m-left' %>
                    <%= link_to 'Novo parceiro', new_package_path, class: 'btn btn-lg btn-success pull-right m-left'  %>
                  </div>
                <% end %>
              </div>
          </div>
      </div>
  </div>
</section>
