<p id="notice"><%= notice %></p>

<section class="content-header">
  <h1>
    Parceiros
  </h1>
</section>
<section class="content">
  <%= link_to 'Novo parceiro', new_partner_path, class: 'btn btn-lg btn-success pull-right' %>
  <div class="row">
    <div class="col-xs-12">
      <div class="box">
          <table id="example2" class="table table-bordered table-hover">
            <thead>
              <tr>
                <th>Nome</th>
                <th>Logo</th>
                <th>Url</th>
                <th>Ações</th>
              </tr>
            </thead>

            <tbody>
              <% @partners.each do |partner| %>
                <tr>
                  <td><%= partner.name %></td>
                  <td><%= partner.logo %></td>
                  <td><%= partner.url %></td>
                  <td>
                    <%= link_to 'Exibir', partner, class: 'btn btn-info' %>
                    <%= link_to 'Editar', edit_partner_path(partner), class: 'btn btn-primary' %>
                    <%= link_to 'Deletar', partner, method: :delete, data: { confirm: 'Deseja mesmo deletar esse parceiro?' }, class: 'btn btn-danger' %>
                  </td>
                </tr>
              <% end %>
            </tbody>
            <tfoot>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
<br>
