
<div class="content">
    <div class="dir">
        <div class="perfil">
            <div class="perfil_desc">
                  <div class="caption rifa">
                      <h3>Esqueceu sua senha?</h3>
                      <p>
                        Digite seu email cadastrado em nosso sistema no campo abaixo e clique em "Resetar", será
                        enviada uma mensagem para seu email cadastrado com as informações necessárias para acessar
                        sua conta novamente. Qualquer dúvida entre em contato através do email suporte@rafeek.com.br. 
                      </p>
                        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
                          <%= devise_error_messages! %>
                          <div class="form-group">
                            <%= f.label :email %><br />
                            <%= f.email_field :email, autofocus: true %>
                          </div>
                          <div class="actions-buttons">
                            <%= f.submit "Resetar" %>
                          </div>
                        <% end %>
                  </div>
              </div>
        </div>
    </div>
</div>
