<% if @winners.present? %>
  <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
          <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-example-generic" data-slide-to="1"></li>
          <li data-target="#carousel-example-generic" data-slide-to="2"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
        <% @winners.each do |raffle| %>
            <div class="item">
                <div class="slide_item">
                    <div class="slide_item_win">
                        <div class="slide_item_win_foto">
                            <%= image_tag raffle.winner.profile.avatar.url(:thumb) %>
                        </div>
                        <div class="slide_item_win_desc">
                            <h2>Sorteio Finalizado</h2>
                            <h3><%= raffle.winner_ticket.created_at.to_time.to_i + raffle.winner_ticket.id %></h3>
                            <h4><%= "#{raffle.winner.profile.name} #{raffle.winner.profile.last_name}" %></h4>
                            <h5>Ganhou este fantástico</h5>
                            <h6><%= raffle.title %></h6>
                        </div>
                    </div>
                    <div class="slide_item_rifa">
                        <%= image_tag raffle.avatar.url %>
                    </div>
                </div>
            </div>
          <% end %>
      </div>
  </div>
<% end %>
