<table id="example2" class="t table table-hover">
  <thead>
    <tr class="t-head azul">
      <th><p>ID da transação</p></th>
      <th><p>Data da transação</p></th>
      <th><p>Pacote</p></th>
      <th><p>Valor</p></th>
    <th><p>Quantidade</p></th>
      <th><p>Status</p></th>
    </tr>
  </thead>

  <tbody>
    <% %>
    <% transactions.each do |transaction| %>
      <tr class="t-head">
        <td><p><%= transaction.tid %></p></td>
        <td><p><%= l transaction.created_at.in_time_zone, format: :default %></p></td>
        <td><p><%= transaction.package.name %></p></td>
        <td><p>R$<%= transaction.value_with_discounts %></p></td>
        <td><p><%= transaction.amount %></p></td>
        <td><p><%= transaction.status_message %></p></td>
      </tr>
    <% end %>
  </tbody>
  <tfoot>
  </tfoot>
</table>
