<p id="notice"><%= notice %></p>

<section class="content-header">
  <h1>
    Pacotes
  </h1> 
</section>
<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box inner-content">
        <table id="example2" class="t table table-hover">
          <thead>
            <tr class="t-head azul">
              <th><p>Usuário</p></th>
              <th><p>Email do usuário</p></th>
              <th><p>ID da transação</p></th>
              <th><p>Data da transação</p></th>
              <th><p>Pacote</p></th>
              <th><p>Valor</p></th>
              <th><p>Status</p></th>
            </tr>
          </thead>

          <tbody>
            <% @performed_transactions.each do |transaction| %>
              <tr class="t-head">
                <td><p><%= transaction.user.profile.name %></p></td>
                <td><p><%= transaction.user.email %></p></td>
                <td><p><%= transaction.tid %></p></td>
                <td><p><%= transaction.created_at %></p></td>
                <td><p><%= transaction.package.name %></p></td>
                <td><p>R$<%= transaction.package.value * transaction.amount %></p></td>
                <td><p><%= transaction.status_message %></p></td>
              </tr>
            <% end %>
          </tbody>
          <tfoot>
          </tfoot>
        </table>
        </div>
      </div>
    </div>
  </div>
</section>
<br>
