<footer class="content">
    <div class="bottom">
        <div class="img-rifa-bot">
            <%= image_tag("bilhetes-logo.png") %>
        </div>
        <div class="newsletter">
            <%= render partial: "newsletters/form" %>
        </div>
        <div class="sobre">
            <h2>Sobre a Raffek</h2>
            <h3>Olá, somos a Rafeek Rifas Nerds, seja bem vindo ao nosso site! Somos o primeiro site de rifas dedicadas ao mundo Geek do mundo, compre seus pontos e teste sua sorte. Maiores dúvidas clique em "Como funciona".</h3>
        </div>
        <ul class="social">
            <h2>Redes Sociais</h2>
            <li><a target="_blank" href="https://www.instagram.com/rafeekbr/" title="Rafeek no Instagram"><%= image_tag("Instagram.png") %></a></li>
            <li><a target="_blank" href="https://plus.google.com/" title="Rafeek no Google +"><%= image_tag("Google.png") %></a></li>
            <li><a target="_blank" href="https://www.facebook.com/Rafeekbr/" title="Rafeek no Facebook"><%= image_tag("Facebook.png") %></a></li>
        </ul>
        <div class="contato">
            <h2>Contato</h2>
            <div class="contato_item">
                <%= image_tag("tel.png") %>
                <a>(21) 3492-6421</a>
            </div>
            <div class="contato_item">
                <%= image_tag("Whatsapp.png") %>
                <a>(21) 98105-4806</a>
            </div>
            <div class="contato_item">
                <%= image_tag("email.png") %>
                <a>contato@rafeek.com.br</a>
            </div>
            <div class="contato_item">
              <%= link_to "Termos e Condições Gerais de Uso", pages_terms_path %>
            </div>
        </div>
        <div class="copyright">
            <span>© <%= Date.today.year %>: RAFEEK RIFAS - TODOS OS DIREITOS RESERVADOS</span><br>
            <span>© <%= Date.today.year %> - Desenvolvido por <%= link_to 'Vortex Developer', 'http://vortexdeveloper.com', target: '_blank' %></span><br>

            <span>É PROIBIDA A REPRODUÇÃO OU DISTRIBUIÇÃO DO CONTEÚDO PUBLICADO AQUI!</span>
        </div>
    </div>
</footer>
<%= javascript_include_tag "jquery" %>
<%= javascript_include_tag "geral" %>
<%= javascript_include_tag "bootstrap" %>
<%= javascript_include_tag "html5shiv" %>
<%= javascript_include_tag "jquery.modal" %>
