<header class="content">
    <div class="fundo_menu fixar_fundo"></div>
    <div id="login" class="login fixar_login">
        <div class="mobile_action"></div>
        <%= welcome_text %>
        <%= profile_button %>
        <%= session_button %>
    </div>

    <div class="logo fixar_logo"> 
        <div id="topo"></div>
        <%= image_tag("logo_heroi.png") %>
    </div>
    <ul class="menu_topo fixar_menu">
      <%= link_to "Home", pages_index_path, class: 'menu_topo_item' %>
      <%= link_to "Rifas", pages_raffles_path, class: 'menu_topo_item' %>
      <%= link_to "Novos", pages_raffles_new_path, class: 'menu_topo_item' %>
      <%= link_to "Hot", pages_raffles_hot_path, class: 'menu_topo_item' %>
      <%= link_to "Pacotes de Pontos", pages_packages_path, class: 'menu_topo_item' %>
      <%= link_to "Ganhadores", pages_winners_path, class: 'menu_topo_item' %>
      <%= link_to "Como Funciona", pages_help_path, class: 'menu_topo_item' %>
    </ul>
</header>
<div class="top"></div>
