<div class="esq">
    <ul id="menu_side" class="menu_side">
        <li class="menu_side_item"><img src="../images/hq.png"/><a>Comics</a>
            <img class="fa-arrow-down" src="../images/arrow-down.png"/>
            <ul class="menu_side_sub">
                <li class="menu_side_sub_item"><%= link_to 'DC', action: 'raffles_categories', category: 'DC' %>
                <li class="menu_side_sub_item"><%= link_to 'Independentes', action: 'raffles_categories', category: 'Independentes' %>
                <li class="menu_side_sub_item"><%= link_to 'Marvel', action: 'raffles_categories', category: 'Marvel' %>
            </ul>
        </li>
        <li class="menu_side_item"><img src="../images/tickets.png"/><a>Ingressos</a>
            <img class="fa-arrow-down" src="../images/arrow-down.png"/>
            <ul class="menu_side_sub">
                <li class="menu_side_sub_item"><%= link_to 'Eventos', action: 'raffles_categories', category: 'Eventos' %>
                <li class="menu_side_sub_item"><%= link_to 'Cinema', action: 'raffles_categories', category: 'Cinema' %>
            </ul>
        </li>
        <li class="menu_side_item"><img src="../images/colec.png"/><%= link_to 'Colecionaveis', action: 'raffles_categories', category: 'Colecionaveis' %></li>
        <li class="menu_side_item"><img src="../images/jogos.png"/><a>Eletrônicos</a>
            <img class="fa-arrow-down" src="../images/arrow-down.png"/>
            <ul class="menu_side_sub">
                <li class="menu_side_sub_item"><%= link_to 'Consoles', action: 'raffles_categories', category: 'Games' %>
                <li class="menu_side_sub_item"><%= link_to 'Acessórios', action: 'raffles_categories', category: 'Acessórios' %>
            </ul>
        </li>
        <li class="menu_side_item"><img src="../images/camisas.png"/><%= link_to 'Camisas', action: 'raffles_categories', category: 'Camisas' %></li>
        <li class="menu_side_item"><img src="../images/acessorios.png"/><%= link_to 'Acessórios', action: 'raffles_categories', category: 'Acessórios' %></li>
        <li class="menu_side_item"><img src="../images/filmes.png"/><%= link_to 'Filmes', action: 'raffles_categories', category: 'Filmes' %></li>
        <li class="menu_side_item"><img src="../images/livros.png"/><a>Livros</a>
            <img class="fa-arrow-down" src="../images/arrow-down.png"/>
            <ul class="menu_side_sub">
                <li class="menu_side_sub_item"><%= link_to 'Independentes', action: 'raffles_categories', category: 'Livros Independentes' %>
                <li class="menu_side_sub_item"><%= link_to 'Best sellers', action: 'raffles_categories', category: 'Best Sellers' %>
            </ul>
        </li>
        <li class="menu_side_item"><img src="../images/jogos.png"/><a>Games</a>
          <img class="fa-arrow-down" src="../images/arrow-down.png"/>
          <ul class="menu_side_sub">
              <li class="menu_side_sub_item"><%= link_to 'PC', action: 'raffles_categories', category: 'PC' %>
              <li class="menu_side_sub_item"><%= link_to 'Console', action: 'raffles_categories', category: 'Console' %>
              <li class="menu_side_sub_item"><%= link_to 'Board Game', action: 'raffles_categories', category: 'Board Game' %>
              <li class="menu_side_sub_item"><%= link_to 'Card Game', action: 'raffles_categories', category: 'Card Game' %>
              <li class="menu_side_sub_item"><%= link_to 'RPG', action: 'raffles_categories', category: 'RPG' %>
              <li class="menu_side_sub_item"><%= link_to 'Jogos de dados', action: 'raffles_categories', category: 'Jogos de dados' %>
              <li class="menu_side_sub_item"><%= link_to 'Outros', action: 'raffles_categories', category: 'Outros' %>
          </ul>
        </li>
    </ul>
