<!DOCTYPE html>
<html lang="pt-br" itemscope itemtype="https://schema.org/Article">

  <%= render partial: 'layouts/head_admin' %>

  <body class="hold-transition skin sidebar-mini">
    <div class="wrapper">

      <%= render partial: 'layouts/header_admin' %>

      <%= render partial: 'layouts/sidebar_admin' %>

      <%= render partial: 'layouts/content_admin' %>

      <%= render partial: 'layouts/footer_admin' %>

    </div>
    <!-- ./wrapper -->

    <%= render partial: 'layouts/scripts_admin' %>

  </body>
</html>
