<!DOCTYPE html>
<html lang="pt-br" itemscope itemtype="https://schema.org/Article">

  <%= render partial: 'layouts/head_admin' %>

  <body class="hold-transition skin-blue sidebar-mini">

      <%= render partial: 'layouts/header_admin' %>

      <div class="wrapper">

        <%= render partial: 'layouts/sidebar_admin' %>

        <%= render partial: 'layouts/content_admin' %>

        <%= render partial: 'layouts/footer_admin' %>

        <%= render partial: 'layouts/control_sidebar_admin' %>

      </div>

    <%= render partial: 'layouts/scripts_admin' %>
  </body>
</html>
